<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team1.teamone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamOne"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".profile.view.RankActivity"
            android:exported="false" />
        <activity
            android:name=".RatingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".rating.view.DetailFinishMemberActivity"
            android:exported="false" />
        <activity
            android:name=".board.view.activity.UpdateAppealBoardActivity"
            android:exported="false" />
        <activity
            android:name=".profile.view.MemberInfoActivity"
            android:exported="false" />
        <activity
            android:name=".board.view.activity.UpdateWantedBoardActivity"
            android:exported="false" />
        <activity
            android:name=".board.view.fragment.FreeBoardListFragment"
            android:exported="false" />
        <activity
            android:name=".profile.view.ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".board.view.activity.UpdateFreeBoardActivity"
            android:exported="false" />
        <activity
            android:name=".board.view.activity.WirteRecruitmentBoardActivity"
            android:exported="false" />
        <activity
            android:name=".board.view.activity.CreateAppealBoardActivity"
            android:exported="false" />
        <activity
            android:name=".board.view.activity.CreateFreeBoardActivity"
            android:exported="false" />
        <activity
            android:name=".member.view.activity.FindActivity"
            android:exported="false" />
        <activity
            android:name=".util.view.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".rating.view.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".message.view.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".caution.view.CautionActivity"
            android:exported="false" />
        <activity
            android:name=".bookmark.view.BookMarkActivity"
            android:exported="false" />
        <activity
            android:name=".profile.view.WrittenBoardActivity"
            android:exported="false" />
        <activity
            android:name=".board.view.activity.SearchBoardActivity"
            android:exported="false" />
        <activity
            android:name=".board.view.activity.CreateWantedBoardActivity"
            android:exported="false" />
        <activity
            android:name=".util.view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".member.view.activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".member.ResetPasswd"
            android:exported="true" />
        <activity
            android:name=".member.view.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".member.view.activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".member.view.FindIdActivity"
            android:exported="false" />
        <activity
            android:name=".home.view.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".util.view.MainActivity"
            android:exported="true" />
        <activity
            android:name=".board.view.activity.BoardDetailActivity"
            android:exported="false" />
    </application>

</manifest>